.app-header
  max-width: 1440px
  display: flex
  justify-content: space-between
  padding: 24px 60px 24px 60px
  margin: 0px
  align-items: center
 

.header-menu
  display: flex
  gap: 5px
  justify-content: centers

.header-menu 
  a
    font-family: Inter, arial, helvitica
    color: #c7c7c7
    text-decoration: none
    padding: 10px 20px
    display: block
    font-size: 1.8rem
    line-height: 1em

.header-botao
  display: none

@media (max-width: 800px)
  .header-botao
    display: flex
    background:  #0a0a0a
    border: none
    padding: 15px 10px
    align-items: center
    position: absolute
    left: 100%
    
    &::before
      content: ' '
      display: inline-block
      height: 2px
      width: 32px
      background: #C7C7C7
      box-shadow: 0 12px #c7c7c7, 0 -12px  #c7c7c7
      z-index: 300
      

  .header-menu
    display: block
    background: #0a0a0a
    max-width: 120px
    left: 100%
    position: absolute
    z-index: -1
    opacity: 0
    padding: 60px 0 5px 0
    border-radius: 10px
    box-shadow: 2px 2px 2px 0 #0a0a0a
    transition: .5s opacity
    &.active
      z-index: 200
      opacity: 1

      

  .header-menu 
    a
      padding: 8px 12px
  
  .app-header
    img
      max-width: 200px
      height: 100%
 

    
    


    








 
