.header-container
  max-width: 1440px
  max-width: 100%
  display: flex
  justify-content: space-between
  padding: 24px 60px 15px 60px
  margin: 0px
  align-items: center
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1000
  background-color: #0a0a0a
  border-radius: 4px

.header-menu
  display: flex
  flex-wrap: wrap
  gap: 5px
  justify-content: centers

.header-menu
  a
    font-family: Inter, arial, helvitica
    color: #c7c7c7
    text-decoration: none
    padding: 10px 20px
    display: block
    font-size: 1.8rem
    line-height: 1em
    position: relative

    &::before
      content: ''
      position: absolute
      top: 28px
      bottom: 0
      left: 13px
      width: 0
      height: 2px
      background-color: #c7c7c7
      transition: width 0.3s ease

    &:hover::before
      left: 13px
      width: 70%

.header-botao
  display: none

@media only screen and (max-width: 1032px)
  .header-container
    padding: 30px 15px

  .header-botao
    display: flex
    flex-direction: column
    background: #0a0a0a
    border: 2px solid #222222
    border-radius: 10px
    padding: 15px 10px
    align-items: center
    transition: left 0.3s ease-in-out
    position: absolute
    left: 90%
    z-index: 1001

    &::before
      content: ' '
      display: inline-block
      height: 1px
      width: 32px
      background: #C7C7C7
      margin-bottom: 12px

    &::after
      content: ' '
      display: inline-block
      height: 1px
      width: 32px
      background: #C7C7C7

  .header-menu
    display: flex
    flex-direction: column
    align-items: center
    background: #0a0a0a
    z-index: -1
    opacity: 0
    position: relative
    padding: 5px 0px 20px 0px
    position: absolute
    left: 0
    top: 80%
    width: 100%
    transition: opacity 0.3s ease

    &.active
      opacity: 1
      z-index: 200

      a
        width: 100%
        text-align: center
        padding: 10px 20px
        color: #fff
        border-radius: 20px
        border: 1px solid #222222
        font-size: 1.5rem
        font-weight: bold
        text-transform: uppercase

        &::before
          content: none

@media only screen and (max-width: 767px)
  .logo-gabriel
    max-width: 250px

  .header-container
    justify-content: start

  .header-botao
    left: 83%

  .logo-gabriel
    width: 200px

@media only screen and (max-width: 300px)
  .logo-gabriel
    opacity: 0
    z-index: -1

  .header-botao
    left: 5%

  .header-menu
    &.active
      top: 10%
