.sobre-container 
  display: grid
  grid-template-columns: 5fr 7fr
  align-items: start
  
.sobre-descricao
  margin-bottom: 80px

.sobre-habilidades
  grid-column: 1 / -1
  display: grid
  grid-template-columns: 5fr 7fr
  align-items: center

.lista-habilidades
  grid-column: 2
  
  ul
    margin-top: 20px
    font-size: 1.6rem
    font-weight: bold
    display: flex
    flex-wrap: wrap
    gap: 16px
    color: #fff
  
  li
    padding: 20px 40px
    border: solid 1px
    border-color: #484848
    border-radius: 100px
    

    




  
  

