.sobre-container 
  display: grid
  grid-template-columns: 5fr 7fr
  align-items: start
  padding-top: 80px
  padding-bottom: 80px
  
  
.sobre-descricao
  margin-bottom: 80px

  p
    margin-bottom: 10px

.sobre-habilidades
  grid-column: 1 / -1
  display: grid
  grid-template-columns: 5fr 7fr
  align-items: center

.lista-habilidades
  grid-column: 2
  
  ul
    margin-top: 20px
    font-size: 1.6rem
    font-weight: bold
    display: flex
    flex-wrap: wrap
    gap: 16px
    color: #fff
  
  li
    padding: 15px 30px
    border: solid 1px
    border-color: #484848
    border-radius: 100px
    
@media only screen and (max-width: 1023px)
  .sobre-container
    grid-template-columns: 1fr
    padding-bottom: 60px
    max-width: 100%
  
    h1
      margin-bottom: 16px

  .sobre-habilidades
    grid-template-columns: 1fr

  .lista-habilidades
    grid-column: 1

@media only screen and (max-width: 767px)
  .sobre-descricao
    margin-bottom: 40px

  .lista-habilidades
    ul
      font-size: 1.4rem
      gap: 10px
      
    li
      padding: 10px 20px
      font-weight: normal
      border-radius: 50px
      border: solid 1px
      border-color: #484848
      



  
  

